<footer>
    <img id="0" src="/assets/landing/footer_transition.png" class="bg-primary relative top-0 left-0 w-screen object-cover" style="image-rendering: pixelated; z-index: 1;">

    <div class="bg-secondary w-screen flex flex-col items-center justify-center text-white p-4 text-md">
        <p>&copy; 2025 Cole Chiodo.</p>
        <p>All rights reserved.</p>
        <div class="flex flex-col lg:flex-row text-sm m-4 text-center">
            <a href="/patch-notes" class="px-4 mb-4 lg:mb-0 hover:underline">Patch Notes</a>
            <div class="hidden lg:block">|</div>
            <a href="/terms" class="px-4 mb-4 lg:mb-0 hover:underline">Terms of Service</a>
            <div class="hidden lg:block">|</div>
            <a href="/about" class="px-4 mb-4 lg:mb-0 hover:underline">About</a>
        </div>
    </div>
</footer>