<header>
    <div class="flex flex-row w-screen h-[75px] p-4 items-center justify-center text-white bg-black bg-opacity-50  text-lg">
        <img src="/assets/landing/title.png" alt="Game Logo" class="absolute top-0 left-5 hidden lg:block" style="image-rendering: pixelated;">
        <a href="/" class="underline mx-4">Landing</a>
        <a href="/home" class="underline mx-4">Play</a>
        <a href="/about" class="underline mx-4">About</a>
    </div>
    <div class="bg-gray-500 w-screen min-h-[4px]"></div>
</header>
