<div id="loading" class="fixed w-full h-screen min-h-screen bg-black bg-opacity-85 flex items-center justify-center top-0 left-0 flex-col">
    <% if(!isPrivate) { %>
        <img src="https://media.tenor.com/UDC3OVGA1jcAAAAi/icon.gif" alt="Loading" class="object-contain max-w-16 max-h-16"> <!--replace loading gif with custom-->
        <div class="text-white mt-2">Finding Opponent...</div>
        <div id="matchmakingTimer" class="text-white mt-3">00:00</div>
        <button id="quitMatchmakingBtn" class="mt-3 bg-red-500 text-primary p-2 border-r-4 border-b-4 border-primary hover:bg-red-600 transition" onclick="window.location.href='/home';">Exit Matchmaking</button>
    <% } else if(isPrivate) { %>
        <div id="privateMatchOptions" class="flex flex-col items-center">
            <button id="createMatchBtn" class="bg-green-500 text-white p-2 border-r-4 border-b-4 border-green-600 hover:bg-green-600 transition mb-3" onclick="handlePrivateMatch('create')">Create Match</button>
            <button id="joinMatchBtn" class="bg-blue-500 text-white p-2 border-r-4 border-b-4 border-blue-600 hover:bg-blue-600 transition" onclick="handlePrivateMatch('join')">Join Match</button>
        </div>

        <div id="gameDetails" class="hidden text-center">
            <div class="text-white text-lg">Game Code: <span id="gameCode"></span></div>
            <button id="copyCodeBtn" class="mt-3 bg-blue-500 text-white p-2 border-r-4 border-b-4 border-primary hover:bg-blue-600 transition w-[300px]" onclick="copyGameCode()">Copy Game Code</button>
        </div>

        <div id="joinForm" class="hidden text-center">
            <input type="text" id="joinCodeInput" class="p-2 mb-3 border rounded" placeholder="Enter Game Code" />
            <button id="joinSubmitBtn" class="bg-blue-500 text-white p-2 border-r-4 border-b-4 border-primary hover:bg-blue-600 transition w-[100px]" onclick="submitJoinCode()">Join</button>
        </div>
    <% } %>
</div>