<div id="loading" class="fixed w-full h-screen min-h-screen bg-black bg-opacity-85 flex items-center justify-center top-0 left-0 flex-col">
    <% if(!isPrivate) { %>
        <img src="https://media.tenor.com/UDC3OVGA1jcAAAAi/icon.gif" alt="Loading" class="object-contain max-w-32 max-h-32"> <!--replace loading gif with custom-->
        <div class="text-white text-lg mt-2">Finding Opponent...</div>
        <div id="matchmakingTimer" class="text-white my-3 text-lg -mt-2">00:00</div>
        <button id="quitMatchmakingBtn" class="rounded-lg px-6 py-3 bg-amber-600 text-white font-bold border-b-4 border-r-4 border-amber-800 transition hover:bg-amber-700" onclick="window.location.href='/home';">Exit Matchmaking</button>
    <% } else if(isPrivate) { %>
        <div id="privateMatchOptions" class="flex flex-col items-center gap-4">
            <button id="createMatchBtn" class="rounded-lg px-6 py-3 bg-emerald-600 text-white font-bold border-b-4 border-r-4 border-emerald-800 transition hover:bg-emerald-700" onclick="handlePrivateMatch('create')">Create Match</button>
            <button id="joinMatchBtn" class="rounded-lg px-6 py-3 bg-cyan-600 text-white font-bold border-b-4 border-r-4 border-cyan-800 transition hover:bg-cyan-700" onclick="handlePrivateMatch('join')">Join Match</button>
            <button id="quitMatchmakingBtn" class="rounded-lg px-6 py-3 bg-amber-600 text-white font-bold border-b-4 border-r-4 border-amber-800 transition hover:bg-amber-700" onclick="window.location.href='/home';">Return Home</button>
        </div>

        <div id="gameDetails" class="hidden text-center flex flex-col gap-4">
            <div class="flex flex-row bg-secondary text-white rounded-xl border-b-4 border-r-4 border-primary p-2 items-center justify-center gap-2 text-lg">
                <div class="text-white text-lg font-bold">Game Code:</div>
                <span id="gameCode" class="bg-primary bg-opacity-75 rounded-xl border-4 border-primary px-2"></span>
            </div>
            <button id="copyCodeBtn" class="rounded-lg px-6 py-3 bg-cyan-600 text-white font-bold border-b-4 border-r-4 border-cyan-800 transition hover:bg-cyan-700" onclick="copyGameCode()">Copy Game Code</button>
            <button id="quitMatchmakingBtn" class="rounded-lg px-6 py-3 bg-amber-600 text-white font-bold border-b-4 border-r-4 border-amber-800 transition hover:bg-amber-700" onclick="window.location.href='/home';">Return Home</button>
        </div>

        <div id="joinForm" class="hidden text-center flex flex-col gap-4">
            <div class="flex flex-row gap-2">
                <input type="text" id="joinCodeInput" class="bg-white text-black block w-full px-4 py-2 border-r-4 border-b-4 border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary" placeholder="Enter Game Code" />
                <button id="joinSubmitBtn" class="rounded-lg px-6 py-3 bg-cyan-600 text-white font-bold border-b-4 border-r-4 border-cyan-800 transition hover:bg-cyan-700" onclick="submitJoinCode()">Join</button>    
            </div>
            <button id="quitMatchmakingBtn" class="rounded-lg px-6 py-3 bg-amber-600 text-white font-bold border-b-4 border-r-4 border-amber-800 transition hover:bg-amber-700" onclick="window.location.href='/home';">Return Home</button>
        </div>
    <% } %>
</div>