<div id="reaction" class="fixed bottom-16 left-0 w-full h-[36px] md:h-[100px] bg-transparent text-white flex justify-between items-center px-4 mt-3 pointer-events-none">
    <div id="p2React" class="flex items-center p-3 w-[150px] md:w-[300px] group">  
        <img id="p2ReactIcon"
            src="/assets/global/reactionb.svg" 
            alt="Bomb Icon" 
            class="w-12 h-12 transition-all duration-300 pointer-events-auto">

        <div id="p2ReactionMenu" 
            class="absolute flex flex-row left-8 h-12 opacity-0 scale-x-0 transition-all duration-300 group-hover:opacity-100 group-hover:scale-x-100 origin-left p-2 gap-4 bg-black border-white border-2 rounded-full pointer-events-auto">
            <img src="https://www.svgrepo.com/show/492551/happy-2.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492551/happy-2.svg`)">
            <img src="https://www.svgrepo.com/show/492546/cry-1.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492546/cry-1.svg`)">
            <img src="https://www.svgrepo.com/show/492553/laugh-and-cry.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492553/laugh-and-cry.svg`)">
            <img src="https://www.svgrepo.com/show/492591/angry.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492591/angry.svg`)">
            <img src="https://www.svgrepo.com/show/492561/sad-1.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492561/sad-1.svg`)">
        </div>
    </div>
    <!-- <div id="p1React" class="flex items-center p-3 w-[150px] md:w-[300px] justify-end group">
        <img id="p1ReactIcon"
            src="/assets/global/reactionb.svg" 
            alt="Bomb Icon" 
            class="w-16 h-16 transition-all duration-300 pointer-events-auto">

        <div id="p1ReactionMenu" 
            class="absolute flex flex-row right-8 h-16 opacity-0 scale-x-0 justify-end transition-all duration-300 group-hover:opacity-100 group-hover:scale-x-100 origin-right p-2 gap-4 bg-black border-white border-2 rounded-full pointer-events-auto">
            <img src="https://www.svgrepo.com/show/492551/happy-2.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492551/happy-2.svg`)">
            <img src="https://www.svgrepo.com/show/492546/cry-1.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492546/cry-1.svg`)">
            <img src="https://www.svgrepo.com/show/492553/laugh-and-cry.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492553/laugh-and-cry.svg`)">
            <img src="https://www.svgrepo.com/show/492591/angry.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492591/angry.svg`)">
            <img src="https://www.svgrepo.com/show/492561/sad-1.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492561/sad-1.svg`)">
        </div>
        </div>
    </div> -->
</div>

<div id="p1Emote" class="fixed flex top-32 left-8 w-full h-[36px] pointer-events-none">

</div>

<div id="p2Emote" class="fixed flex top-32 right-8 w-full h-[36px] pointer-events-none justify-end">

</div>