<div id="reaction" class="fixed bottom-24 sm:bottom-20 left-3 w-full h-[36px] md:h-[100px] bg-transparent text-white flex justify-between items-center pointer-events-none">
    <div id="p2React" class="flex items-center group">  
        <img id="p2ReactIcon"
            src="/assets/global/reaction.png" 
            alt="Bomb Icon" 
            class="w-12 h-12 transition-all duration-300 pointer-events-auto">

        <div id="p2ReactionMenu" 
            class="absolute flex flex-row w-auto h-12 opacity-0 scale-x-0 transition-all duration-300 group-hover:opacity-100 group-hover:scale-x-100 origin-left p-2 gap-4 bg-secondary bg-opacity-75 border-secondary border-2 rounded-full pointer-events-auto">
            <img src="https://www.svgrepo.com/show/492551/happy-2.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492551/happy-2.svg`)">
            <img src="https://www.svgrepo.com/show/492546/cry-1.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492546/cry-1.svg`)">
            <img src="https://www.svgrepo.com/show/492553/laugh-and-cry.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492553/laugh-and-cry.svg`)">
            <img src="https://www.svgrepo.com/show/492591/angry.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492591/angry.svg`)">
            <img src="https://www.svgrepo.com/show/492561/sad-1.svg" 
                class="hover:scale-90 transition-transform cursor-pointer"
                onclick="emoteClicked(`https://www.svgrepo.com/show/492561/sad-1.svg`)">
        </div>
    </div>
</div>

<div id="p1Emote" class="fixed flex top-20 sm:top-32 left-4 sm:left-8 pointer-events-none">

</div>

<div id="p2Emote" class="fixed flex top-20 sm:top-32 right-4 sm:right-8 pointer-events-none justify-end">

</div>