<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Not Found</title>
    <link rel="icon" type="image/png" href="/assets/profileimages/default.png">
    <script src="/js/tailwind.js"></script>
</head>
<%- include('partials/header') %>
<body class="bg-secondary">
    <div class="h-screen w-screen flex items-center justify-center bg-primary">
        <div class="flex flex-col md:flex-row items-center justify-center w-full h-full max-w-6xl p-6">
            <div class="w-2/3 md:w-1/2 bg-red-500 mb-6 md:mb-0">
                <img src="/assets/profileimages/kawaiiface.png"
                     class="w-full h-full aspect-w-1 aspect-h-1"
                     style="image-rendering: pixelated; z-index: 1;">
            </div>

            <div class="text-center md:text-left md:ml-6 flex flex-col items-center md:items-start">
                <div class="text-4xl font-semibold text-white mb-4">
                    Oops! Page Not Found.
                </div>

                <div class="text-lg text-gray-200 mb-6">
                    We couldn’t find that page. Please check the URL or return to the homepage.
                </div>

                <a href="/landing" class="mt-4 px-6 py-3 bg-green-500 text-white font-bold border-b-4 border-r-4 border-green-700 transition hover:bg-green-600">
                    Return Home
                </a>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer') %>
</html>