<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
    </style>
    <script src="/js/tailwind.js"></script>
</head>
<body>
    <div id="user" style="position: absolute; left: -9999px;"><%= JSON.stringify(user) %></div>
    <canvas id="gameCanvas"></canvas>

    <div id="ui" class="absolute top-0 left-0 w-full h-[50px] bg-transparent text-white flex justify-around items-center px-2 pointer-events-none">
        <div id="player1" class="flex items-center">
            <div id="player1Name" class="mr-2">Player 1</div>
            <div id="player1Time">00:00</div>
        </div>
        <div id="player2" class="flex items-center justify-self-end">
            <div id="player2Name" class="mr-2">Player 2</div>
            <div id="player2Time">00:00</div>
        </div>
    </div>
      
    <div id="loading" class="absolute w-full h-screen min-h-screen bg-black bg-opacity-75 flex items-center justify-center top-0 left-0 flex-col">
        <img src="https://media.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif" alt="Loading" class="object-contain max-w-16 max-h-16">
        <div class="text-white mt-2">Finding Opponent...</div>
    </div>       

    <script src="/js/main.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>