<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:title" content="Fortezza Tactics Online" />
    <meta property="og:description" content="A Fantasy Player-vs-Player Strategy Tactics Game." />
    <meta property="og:image" content="https://fortezzatactics.online/assets/global/favicon.png" />
    <meta property="og:url" content="https://fortezzatactics.online" />
    <meta property="og:type" content="website" />

    <title>Fortezza Tactics Online</title>
    <link rel="icon" type="image/png" href="/assets/global/favicon.ico">
    <script src="/js/tailwind.js"></script>
</head>
<body class="bg-secondary flex flex-col items-center justify-start min-h-screen overflow-x-auto text-md">

    <div id="main" class="bg-secondary w-screen h-screen flex items-center justify-center overflow-hidden">
        <div id="paralaxed" class="relative w-full h-screen overflow-hidden">
            <img id="5" src="/assets/landing/5.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="4" src="/assets/landing/4.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="3" src="/assets/landing/3.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="2" src="/assets/landing/2.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="1" src="/assets/landing/1.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
    
            <div id="titleAndPlay" class="absolute inset-0 flex flex-col items-center justify-center text-center text-white z-10">
                <img src="/assets/landing/title.png" alt="Game Title" style="image-rendering: pixelated; z-index: 1;" class="w-[500px] pointer-events-none">
                <a href="/home" class="-my-4 px-6 py-3 rounded-lg bg-emerald-500 text-white font-bold border-b-4 border-r-4 border-emerald-700 transition hover:bg-emerald-600">
                    PLAY NOW
                </a>
            </div>
        </div>
    </div>
    
    <div class="bg-primary w-screen flex justify-center">
        <div id="second" class="bg-primary w-screen lg:w-1/2 flex flex-col justify-center p-6">
            <img id="0" src="/assets/landing/0.png" class="absolute top-0 md:top-auto md:bottom-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;" data-speed="0.6">
    
            <div class="flex flex-col lg:flex-row">
                <div class="flex flex-col align-center justify-center">
                    <p class="text-white text-4xl font-bold">Fortezza Tactics Online</p>
                    <p class="text-white mb-4">...is a Turn Based Player-Versus-Player Strategy Tactics Game. Take control of several units to defeat you opponent.</p>
                </div>
                <img src="/assets/landing/action.png"
                alt="Example Game Scene"
                class="object-cover w-full"
                style="image-rendering: pixelated;">
            </div>
    
            <div class="flex flex-col lg:flex-row">
                <img src="/assets/landing/fighting.png"
                alt="Example Game Scene"
                class="object-cover w-full"
                style="image-rendering: pixelated;">
                <div class="flex flex-col align-center justify-center">
                    <p class="text-white text-4xl mt-4 font-bold">Play Against Others</p>
                    <p class="text-white mb-4">Match up against players from around the world, or create a private match for you and your friends.</p>
                </div>
            </div>
    
            <div class="flex flex-col lg:flex-row">
                <div class="flex flex-col align-center justify-center">
                    <p class="text-white text-4xl font-bold">Protect The King</p>
                    <p class="text-white mb-4">Defend your King at all costs and hunt down your opponent's. Outsmart your rival and claim victory.</p>
                </div>
                <img src="/assets/landing/protect_the_king.png"
                alt="Example Game Scene"
                class="object-cover w-full"
                style="image-rendering: pixelated;">
            </div>

            <p class="text-white text-4xl font-bold text-center">Lead Your Army Today!</p>
    
            <div class="flex items-center justify-center">
                <a href="/home" class="mt-4 px-6 py-3 rounded-lg bg-emerald-500 text-white font-bold border-b-4 border-r-4 border-emerald-700 transition hover:bg-emerald-600">
                    PLAY NOW
                </a>
            </div>
        </div>
    </div>

    <script src="/js/imageparallax.js"></script>

</body>
<%- include('partials/footer') %>
</html>
