<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <script src="/js/tailwind.js"></script>
</head>
<body class="bg-black flex flex-col items-center justify-center min-h-screen">

    <div id="main" class="bg-secondary w-screen p-8 items-center justify-center flex flex-col">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-4xl font-bold text-white text-center justify-center">PVP STRATEGY GAME</h1>
    
            <div class="space-y-4">
                <a href="/home" class="block m-4 px-6 py-3 bg-green-400 text-primary hover:bg-green-500 transition border-r-4 border-b-4 border-primary text-center">PLAY NOW</a>
            </div>
        </div>
    </div>

    <div id="main" class="bg-primary w-screen h-screen items-center justify-center flex flex-col">

    </div>

</body>
</html>
