<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:title" content="Login | Fortezza Tactics Online" />
    <meta property="og:description" content="Log Into Your Fortezza Tactics Online Account Now." />
    <meta property="og:image" content="https://fortezzatactics.online/assets/global/favicon.png" />
    <meta property="og:url" content="https://fortezzatactics.online/login" />
    <meta property="og:type" content="website" />

    <title>Login | Fortezza Tactics Online</title>
    <link rel="icon" type="image/png" href="/assets/global/favicon.ico">
    <script src="/js/tailwind.js"></script>
</head>
<body class="bg-primary flex items-center justify-center min-h-screen text-lg">
    <div id="main" class="bg-secondary w-screen h-screen flex items-center justify-center overflow-hidden">
        <div id="paralaxed" class="relative w-full h-screen overflow-hidden">
            <img id="7" src="/assets/global/bgs/clouds/Clouds_3/1.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="5" src="/assets/global/bgs/clouds/Clouds_3/2.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="3" src="/assets/global/bgs/clouds/Clouds_3/3.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="2" src="/assets/global/bgs/clouds/Clouds_3/4.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
    
            <div id="contents" class="absolute inset-0 flex flex-col items-center justify-center text-center text-white z-10">
                <div class="bg-secondary p-8 w-full max-w-md text-white rounded-xl border-b-4 border-r-4 border-primary">
                    <h1 class="text-3xl font-bold mb-6 text-center">Login</h1>

                    <div id="login_error" class="hidden bg-amber-100 border border-amber-400 text-amber-700 px-4 py-3 rounded relative text-sm mb-6" role="alert">
                        <strong class="font-bold">Error:</strong>
                        <span id="login_error_msg" class="block sm:inline"></span>
                    </div>
                    
                    <form id="login-form" class="space-y-4">
                        <div>
                            <input type="text" name="credential" id="credential" required placeholder="Username or Email"
                                   class="bg-white text-black block w-full px-4 py-2 border-r-4 border-b-4 border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary">
                        </div>
            
                        <div>
                            <input type="password" name="password" id="password" required placeholder="Password"
                                class="bg-white text-black block w-full px-4 py-2 border-r-4 border-b-4 border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary">
                        </div>
            
                        <div>
                            <button type="submit" class="w-full rounded-lg px-6 py-3 bg-emerald-500 text-white font-bold border-b-4 border-r-4 border-emerald-700 transition hover:bg-emerald-600">
                                Login
                            </button>
                        </div>
                    </form>

                    <div class="inline-flex items-center justify-center w-full my-4">
                        <hr class="w-full h-px my-8 bg-white">
                        <span class="absolute px-3 font-lg -translate-x-1/2 left-1/2 bg-secondary">or</span>
                    </div>
                    
                    <form action="/register" method="GET" class="mb-4">
                        <button type="submit" class="w-full rounded-lg px-6 py-3 bg-cyan-600 text-white font-bold border-b-4 border-r-4 border-cyan-800 transition hover:bg-cyan-700">
                            Create An Account
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/imageparallax.js"></script>
    <script>
        const form = document.getElementById('login-form');

        form.addEventListener('submit', async function(event) {
            event.preventDefault();
            
            const formData = new FormData(form);
            const data = new URLSearchParams(formData);

            try {
                const response = await fetch('/auth/login', {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Accept': 'application/json',
                    }
                });

                const responseData = await response.json();

                if (response.ok) {
                    window.location.href = '/home';
                } else {
                    const login_error = document.getElementById("login_error");
                    const login_error_msg = document.getElementById("login_error_msg");

                    login_error.classList.remove("hidden");
                    login_error_msg.innerText = responseData.error;
                }
            } catch (error) {
                console.error('Error during registration:', error);
                alert('An unexpected error occurred. Please try again.');
            }
        });
    </script>
</body>
</html>
