<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/auth/login" method="POST">
        <label for="credential">Username</label>
        <input type="text" name="credential" id="credential" required>
        <br/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br/>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
</body>
</html>