<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:title" content="Patch Notes | Fortezza Tactics Online" />
    <meta property="og:description" content="See the Latest Changes for Fortezza Tactics Online." />
    <meta property="og:image" content="https://fortezzatactics.online/assets/global/favicon.ico" />
    <meta property="og:url" content="https://fortezzatactics.online/patch-notes" />
    <meta property="og:type" content="website" />

    <title>Patch Notes | Fortezza Tactics Online</title>
    <link rel="icon" type="image/png" href="/assets/global/favicon.ico">
    <script src="/js/tailwind.js"></script>
</head>
<%- include('partials/header') %>
<body class="bg-primary">
    <div class="h-screen w-screen bg-primary">
        Patch Notes
    </div>
</body>
<%- include('partials/footer') %>
</html>