<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/meta') %>
    <title>Patch Notes | Game Title</title>
    <link rel="icon" type="image/png" href="/assets/profileimages/default.png">
    <script src="/js/tailwind.js"></script>
</head>
<%- include('partials/header') %>
<body class="bg-primary">
    <div class="h-screen w-screen bg-primary">
        Patch Notes
    </div>
</body>
<%- include('partials/footer') %>
</html>